<div class="section-indicators">
  <span class="indicator" [class.active]="currentSectionIndex === 0"></span>
  <span class="indicator" [class.active]="currentSectionIndex === 1"></span>
  <span class="indicator" [class.active]="currentSectionIndex === 2"></span>
  <!-- Add more indicators for more sections -->
</div>

<section id="section1" class="hero-section">
  <video #videoElement autoplay muted loop playsinline id="myVideo">
    <source src="https://res.cloudinary.com/dxfpomi5t/video/upload/v1734027770/y1wo3ndgkis8vnvtgjr5.mov" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>

  <div class="content">
    <h1 class="title">Welcome to</h1>
    <img src="https://res.cloudinary.com/dxfpomi5t/image/upload/v1734124615/RH_-_Productions_iyjocx_c_pad_w_300_h_200_ov8jsc.png" alt="Logo" class="logo">
  </div>
</section>

<section id="projects-carousel">
  <h2 class="carousel-title">Our Projects</h2>
  <div class="swiper mySwiperProjects" #swiperProjects>
    <div class="swiper-wrapper">
      <!-- Repeat this block for each project slide -->
      <div class="swiper-slide">
        <img src="https://res.cloudinary.com/dxfpomi5t/image/upload/v1729100513/background3_lip65h.jpg  " alt="Project 1">
        <div class="project-details">
          <h3>Project Title 1</h3>
          <p>Brief description of the project goes here...</p>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>

<section id="section2" class="collection">
  <h2 class="carousel-title">Meet our team</h2>
  <div class="swiper mySwiper" #swiperRef>
    <div class="swiper-wrapper">
      <div *ngFor="let member of teamMembers" class="swiper-slide team-card" (click)="toggleBlur(member)">
        <img [src]="member.imageUrl" alt="{{ member.name }}">
        <div class="card-overlay" [ngClass]="{'blurred': member.detailsVisible}">
          <div class="text-content" *ngIf="member.detailsVisible">
            <h3>{{ member.name }}</h3>
            <p>{{ member.role }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>



<section id="section3"></section>
